<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#" style="color: red;">TnConsume</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">
                <i class="fas fa-home"></i> Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
                <i class="far fa-list-alt"></i> List</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
                <i class="fas fa toolbox"></i> About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
                <i class="fas fa-plus-circle"></i> News</a>
          </li>
          
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-danger" type="submit">Search</button>
        </form>
        <a href="http://localhost:4200/identification/" class="btn btn-outline-success">
          <i class="fas fa-sign-in-alt"></i>begin Navigation
        </a>
        <button class="btn btn-outline-warning"><i class="fas fa-sign-out-alt"></i>end navigation</button>
      </div>
    </div>
  </nav>